<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Potato Chip Privacy Policy</h1>
      <section id="privacy-policy">
        <h3>
          **Privacy Policy for Potato Chip Desktop Application**
        </h3>

        Last Updated: April 19, 2024

        Thank you for choosing Potato Chip, our application that is a gamified software engineering school.
        digital experience. Your privacy is of paramount importance to us. This Privacy Policy outlines our practices
        regarding the non-collection of data and your privacy rights.

        <h3>
          **1. No Collection of Personal Data**
        </h3>

        Potato Chip does not collect, store, or process any personal data or information from users. The application is
        designed to operate without the need for personal information such as names, email addresses, or any other type
        of
        data that can be used to directly or indirectly identify an individual.

        <h3>
          **2. No Collection of Usage Data**
        </h3>

        Our application does not monitor, gather, or transmit information regarding your usage. This includes, but is
        not
        limited to, no logging of user activity, no tracking of user behavior, and no analytics data collection.


        <h3>
          **3. No Third-Party Data Sharing**
        </h3>
        As Potato Chip does not collect any data, there is consequently no data to share or distribute to third parties.
        Your use of Potato Chip remains private and undisclosed to any external entities.

        <h3>
          **4. No Cookies or Tracking Technologies**
        </h3>

        Potato Chip does not use cookies, tracking pixels, or any other tracking technologies, as there is no data
        collection involved within the application.

        <h3>
          **5. Data Protection**
        </h3>

        Given that no data is collected by Potato Chip, data protection practices related to the usage of the
        application
        are not applicable. Your electronic or digital privacy is inherently maintained through our practice of
        non-collection.

        <h3>
          **6. Changes to Our Privacy Policy**
        </h3>

        We reserve the right to make changes to this Privacy Policy at any time. If there are any changes, we will
        indicate the last date of modification at the top of this document. However, given the nature of our application
        as a non-data-collecting platform, significant changes to our Privacy Policy are not anticipated.

        <h3>
          **7. Contact Us**
        </h3>

        Should you have any questions or concerns about this Privacy Policy or the practices of our desktop application,
        please feel free to reach out to us at +1 907 590 0529. or join the slack workspace:

        <a href="https://join.slack.com/t/potatochipgroup/shared_invite/zt-2fvvdmuoz-IYVWSc1ysGenymmHaIa3KQ"
          target="_blank">
          slack
        </a>

        We sincerely appreciate your decision to use Potato Chip and are proud to offer a privacy-centric application
        that
        respects your digital autonomy.

        **Thank You for Choosing Potato Chip.**
      </section>

    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
